.div1{
    /* background-color: aqua; */
    color:blueviolet;
    max-height:200px;
    max-width: 50%;
    border:3px solid red;
    margin:20px;

}
/* .div2{
    background-color:darkorange;
    color:blueviolet;
    height:300px;
    width:50%;
    border:3px solid red;
    margin:20px;
    
} */